body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  text-align: center;
}
.selectType{
  width: 100% !important;
  box-shadow: 3px 3px 10px 0px #ddd;
}
.customInput{
  border: none;
  padding: 0 20px;
  width: 94% !important;
  height: 45px;
}
.inputDisabled{
  opacity: .2;
}
.cardDetails{
  width: 500px;
  box-shadow: 3px 3px 10px 0px #ddd;
  border: 1px solid #f5f2f2;
  margin: auto;
  border-radius: 8px;
  padding: 0 15px 15px 15px 
}
.cardDetails > .cardName,
.cardDetails > .cardValid,
.cardDetails > .holderName{
  border-bottom: 1px solid #ddd
}

.cardDetails input:focus{
  outline: none;
}
.cardDetails .cardValid{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardDetails .cardValid > input{
  width: 50%;
}
.cardDetails .cardValid > input:first-child{  
  border-right: 1px solid #ddd
}
.cardDetails > .cardName{
  display: flex;  
  align-items: center;
  padding-left:20px
}
.cardDetails > .cardName > img{width: 6%}

.BankCard{
  border: 2px solid rgb(171, 171, 171);
  width: 400px;
  margin: 120px auto 20px;
  border-radius: 8px;
  text-align: left;
  padding: 20px 
}   
.BankCardImg{
  padding-bottom: 30px
}
.visa{
  border-color: #094792
}
.masterCard{
  border-color: #e31120
}
.amex{
  border-color: #0078a9
}
.BankCardImg{
  width: 75px
}
.BankCardImg > img{
  width: 100%;
}
.selectTypes{
  width: 530px;
  margin: 10px auto; 

}
.selectTypes > form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectTypes > form > div{
  width: 80%;
}
.selectTypes > form > button{
  width: 20%;
  height: 37px;
  cursor: pointer;
  font-size: 20px;
}
.submitForm{
  width: 530px;
  margin: 10px auto
}
.submitForm > button{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  width: 100%;
  padding: 10px;
  font-size: 19px;
  border-radius: 7px;
  font-family: sans-serif;
  cursor: pointer;
  opacity: .8;
  transition: all .3s ease-in-out;
}
.submitForm > button:hover{
  opacity: 1;
}

button:disabled{
  background: #ddd;
  border: none;
  opacity: 1;
  cursor: default;
}